# OS & IDEs
.idea/
.vscode/
.DS_Store
*.swp
*.swo

# Dependencies & Secrets (This automatically covers the frontend & backend!)
node_modules/
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# audio and video files
backend/storage/
# Local uploads and generated media
backend/storage/
IMPLEMENTATION_PROGRESS.md

ferlyn_jounral.md
