node_modules/
.env

# Ignore the local fallback database
database.sqlite

# CRITICAL: Ignore temporary FFmpeg and Multer media files so you don't push videos to GitHub
temp/
tmp/
uploads/
*.mp4
*.mp3
*.wav

# Logs
npm-debug.log*
yarn-error.log*